<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="keywords" content="HTML,CSS,JavaScript">
		<meta name="author" content="Daniel Tomov">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<title>Smart Home Automation</title>
	</head>
	
	<body>
		<div id="container">
			<div id="column_one">
				<div class="button_div">
					<form class="half_button_form" action="#" method="post">
						<input class="text_field" name="login_code">
						<button type=submit class="half_button" style="background-color: green;" name="button" value="login"><p class="half_button_image">&#9881;</p><p class="half_button_name">Settings</p></button>	
					</form>
				</div>
			</div>
		</div>
	</body>
</html>