<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="keywords" content="HTML,CSS,JavaScript">
		<meta name="author" content="Daniel Tomov">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<title>Smart Home Automation</title>
      <script>
         setTimeout(function(){
            window.location.href = 'http://192.168.3.142:5555/login';
         }, 2000);
      </script>
	</head>
	
	<body>
		<div id="container">
			<p style="font-size:50px; color:white;">Wrong Code</p>
		</div>
	</body>
</html>